params {
    threads = 16
    reads = "/path/to/reads/*_R{1,2}.fastq.gz"
    outdir = "results"
}

docker.enabled = true

process {
    memory = 60.GB
}

profiles {
    local {
        process.executor = 'local'
        params.threads = 16
    }

    cluster {
        process.executor = 'sge'
        process.queue = 'long'
        process.memory = '64GB'
        params.threads = 32
    }

    aws {
        process.executor = 'awsbatch'
        process.queue = 'nextflow-queue'
        aws.region = 'ap-east-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        params.threads = 32
    }
}

help {
    """
    Usage: nextflow run main.nf --reads 'reads_pattern'

    Pipeline Options:
    --reads     Input read files pattern (required)
    --outdir    Output directory (default: 'results')

    Other Options:
    --threads   Number of threads to use (default: 16)

    Example:
    nextflow run main.nf --reads '/path/to/reads/*_R{1,2}.fastq.gz'
    """
}
